# Virtual environment
venv/

# IDE (por ejemplo, Visual Studio Code)
.vscode/

# Archivos de configuración locales
*.sqlite3
*.pyc
__pycache__/

# Archivos de configuración específicos de la plataforma
*.DS_Store
Thumbs.db

# Archivos de compilación y carpetas
*.pyc
*.pyo/
__pycache__/
*.pyc

# Archivos de registro y directorios
logs/
*.log

# Entorno de desarrollo
.env

# Carpeta de medios
media/

# Archivos de configuración local para Django
local_settings.py
