Pillow==8.3.1
django-storages==1.11.1
boto3==1.18.42
django-storages[amazon]==1.11.1
django
anyio==4.0.0
argcomplete==3.1.6
asgiref==3.7.2
boto3==1.29.3
botocore==1.32.3
certifi==2023.7.22
cfn-flip==1.3.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.7.0
cssselect2==0.7.0
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.7
django-appconf==1.0.5
django-classy-tags==4.1.0
django-cms==3.11.4
django-entangled==0.5.4
django-filer==3.1.0
django-formtools==2.4.1
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-select2==8.1.2
django-treebeard==4.7
djangocms-admin-style==3.2.6
djangocms-attributes-field==3.0.0
djangocms-frontend==1.1.10
djangocms-installer==2.0.0
djangocms-text-ckeditor==5.1.4
durationpy==0.5
easy-thumbnails==2.8.5
fastjsonschema==2.18.1
filelock==3.13.1
gunicorn==21.2.0
hjson==3.1.0
html5lib==1.1
idna==3.4
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
kappa==0.6.0
lxml==4.9.3
MarkupSafe==2.1.3
mypy-extensions==1.0.0
packaging==23.2
Pillow==10.1.0
placebo==0.9.0
platformdirs==3.11.0
pyactiveresource==2.2.2
PyJWT==2.8.0
python-dateutil==2.8.2
python-slugify==8.0.1
PyYAML==6.0.1
reactpy==1.0.2
reportlab==4.0.7
requests==2.31.0
s3transfer==0.7.0
ShopifyAPI==12.3.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
svglib==1.5.1
tailwindcss==0.0.1
text-unidecode==1.3
tinycss2==1.2.1
toml==0.10.2
tqdm==4.66.1
troposphere==4.5.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
virtualenv==20.24.6
webencodings==0.5.1
Werkzeug==3.0.1
zappa==0.58.0
whitenoise==5.3.0
psycopg2-binary==2.9.1
