/* styles.css */

.product-image {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Altura fija */
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}

.product-description {
    max-height: 3.6em; /* Ajusta según tus necesidades, 3.6em es aproximadamente 3 líneas de texto */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permite el retorno de línea si es necesario */
}